{% extends 'base.html.twig' %}

{% block title %}Services
{% endblock %}

{% block body %}
	<link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>

	<div class="services-wrapper">
		<h1>Services</h1>
		<div class="services-section">
			<section>
				<h4>Internet:</h4>
				<table class="tbl-content">
					<tr class="tbl-header">
						<th>Internet</th>
						<th>Price</th>
						<th>Actions</th>
					</tr>
					{% for item in internet %}
						<tr class="">
							<td>Internet
								{{item.speed}}
							</td>
							<td>{{ item.price }}$</td>
							<td>
								<div class="tbl-buttonPanel">
									<a href="{{ path('delete_internet', {'id': item.id}) }}">
										<div class="tbl-buttonPanel-button">delete</div>
									</a>
									<a href="{{ path('edit_internet', {'id': item.id}) }}">
										<div class="tbl-buttonPanel-button">edit</div>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
					<tr class="">
						<td colspan="3">
							<a href="{{url('admin_services_internet')}}">
								<div class="tbl-buttonPanel-button">Create Internet Plan</div>
							</a>
						</td>
					</tr>
				</table>
			</section>
			<section>
				<h4>Telephony:</h4>
				<table class="tbl-content">
					<tr class="tbl-header">
						<th>Telephony</th>
						<th>Price</th>
						<th>Actions</th>
					</tr>
					{% for item in telefonia %}
						<tr>
							<td>Plan
								{{item.minutes}}
								minutes</td>
							<td>{{ item.price }}$</td>
							<td>
								<div class="tbl-buttonPanel">
									<a href="{{ path('delete_telephony', {'id': item.id}) }}">
										<div class="tbl-buttonPanel-button">delete</div>
									</a>
									<a href="{{ path('edit_telephony', {'id': item.id}) }}">
										<div class="tbl-buttonPanel-button">edit</div>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="3">
							<a href="{{url('admin_services_telephony')}}">
								<div class="tbl-buttonPanel-button">Create Telephony Plan</div>
							</a>
						</td>
					</tr>
				</table>
			</section>
			<section>
				<h4>Cable:</h4>
				<table class="tbl-content">
					<tr class="tbl-header">
						<th>Cable</th>
						<th>Price</th>
						<th>Actions</th>
					</tr>
					{% for item in cable %}
						<tr>
							<td>{{item.Plan.getName()}}</td>
							<td>{{item.Price}}$</td>
							<td>
								<div class="tbl-buttonPanel">
									<a href="{{ path('delete_cable', {'id': item.id}) }}">
										<div class="tbl-buttonPanel-button">delete</div>
									</a>
									<a href="{{ path('edit_cable', {'id': item.id}) }}">
										<div class="tbl-buttonPanel-button">edit</div>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="3">
							<a href="{{url('admin_services_cable')}}">
								<div class="tbl-buttonPanel-button">Create Cable Plan</div>
							</a>
						</td>
					</tr>
				</table>
			</section>

			<section>
				<h4>Programs:</h4>
				<table class="tbl-content">
					<tr class="tbl-header">
						<th>Program</th>
						<th>Hour</th>
						<th>Week Day</th>
						<th>Actions</th>
					</tr>
					{% for item in program %}
						<tr>
							<td>{{item.Name}}</td>
							<td>{{item.Hour.format('H:i')}}</td>
							<td>
								<div class="services-td-scroll">
									{% for week in item.WeekDay %}
										<p>{{week}}</p>
									{% endfor %}
								</div>
							</td>
							<td>
								<div
									class="tbl-buttonPanel">
									<a href="{{ path('delete_program', {'id': item.id}) }}">
									<div class="tbl-buttonPanel-button">delete</div>
									</a>
									<a href="{{ path('edit_program', {'id': item.id}) }}">
									<div class="tbl-buttonPanel-button">edit</div>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="4">
							<a href="{{url('admin_services_program')}}">
								<div class="tbl-buttonPanel-button">Create New Program</div>
							</a>
						</td>
					</tr>
				</table>
			</section>
			<section>
				<h4>Channels:</h4>
				<table class="tbl-content">
					<tr class="tbl-header">
						<th>Channel</th>
						<th>Programation</th>
						<th>Actions</th>
					</tr>
					{% for item in channel %}
						<tr>
							<td>{{item.Name}}</td>
							<td>
								<div class="services-td-scroll">
									{% for programation in item.Programs %}
										<p>{{programation.name}}</p>
									{% endfor %}
								</div>
							</td>
							<td>
								<div
									class="tbl-buttonPanel">
									<a href="{{ path('delete_channel', {'id': item.id}) }}">
									<div class="tbl-buttonPanel-button">delete</div>
									</a>
									<a href="{{ path('edit_channel', {'id': item.id}) }}">
									<div class="tbl-buttonPanel-button">edit</div>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="3">
							<a href="{{url('admin_services_channel')}}">
								<div class="tbl-buttonPanel-button">Create New Channel</div>
							</a>
						</td>
					</tr>
				</table>
			</section>
			<section>
				<h4>Plans:</h4>
				<table class="tbl-content">
					<tr class="tbl-header">
						<th>Plan</th>
						<th>Channels</th>
						<th>Actions</th>
					</tr>
					{% for item in plan %}
						<tr>
							<td>{{item.Name}}</td>
							<td>
								<div class="services-td-scroll">
									{% for programation in item.Channels %}
										<p>{{programation.name}}</p>
									{% endfor %}
								</div>
							</td>
							<td>
								<div
									class="tbl-buttonPanel">
									<a href="{{ path('delete_plan', {'id': item.id}) }}">
									<div class="tbl-buttonPanel-button">delete</div>
									</a>
									<a href="{{ path('edit_plan', {'id': item.id}) }}">
									<div class="tbl-buttonPanel-button">edit</div>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="3">
							<a href="{{url('admin_services_plan')}}">
								<div class="tbl-buttonPanel-button">Create New Plan</div>
							</a>
						</td>
					</tr>
				</table>
			</section>
			<section>
				<h4>Packages:</h4>
				<table class="tbl-content">
					<tr class="tbl-header">
						<th>Package Name</th> 
						<th>Internet</th>
						<th>Telephony</th>
						<th>Cable</th>
						<th>Actions</th>
					</tr>
					{% for item in package %}
						<tr>
							<td>{{item.Name}}</td>
							<td>{{item.Internet? item.Internet.speed}}</td>
							<td>{{item.Telephony? item.Telephony.minutes}}</td>
							<td>{{item.Cable? item.Cable.plan.Name}}</td>
							<td>
								<div
									class="tbl-buttonPanel">
									<a href="{{ path('delete_package', {'id': item.id}) }}">
									<div class="tbl-buttonPanel-button">delete</div>
									</a>
									<a href="{{ path('edit_package', {'id': item.id}) }}">
									<div class="tbl-buttonPanel-button">edit</div>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="5">
							<a href="{{url('admin_services_package')}}">
								<div class="tbl-buttonPanel-button">Create New Package</div>
							</a>
						</td>
					</tr>
				</table>
			</section>
		</div>
	</div>
{% endblock %}
